extend layout

block variables
	- var splash = true

block page-content
	.inner.splash
		//img(src='/images/logo.png', width='240')
		h1 Social Words
		p.lead A minimalist Social Network

	form.form-signin
		label(for='inputEmail').sr-only email address
		input(type='email', placeholder='email address', required, autofocus)#inputEmail.form-control
		label(for='inputPassword').sr-only password
		input(type='password', placeholder='password', required)#inputPassword.form-control
		.checkbox
			label
				input(type='checkbox', value='remember-me')
				| Remember me

		button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
